* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'MedievalSharp', cursive;
}

.hidden {
  display: none !important;
}
